<header id="necklace_header" class="img-responsive">


  <img src="/assets/rand_headers/<%= @random_image%>", style='height:auto;width:100%;' >
  
  
</header>


<div class="row product_top"> 
    <div class="container">
    	<div class="col-xs-12 col-sm-6 center-block">
     		<div class="order_description">

     		<h2>Your Order </h2>

     		<br>

     		<%= render 'form' %>
    		</div>
   		 </div>

    </div>
</div>     


   		 <!-- Script for Braintree -->
   		 <script>
   		 braintree.setup('<%= @client_token %>', 'dropin', {
  			container: 'payment-form'
			});
   		 </script>