<div class="container-fluid info-pages">
  
    <div class="col-md-3 col-xs-12" id="leftCol">
   
          <ul class="help nav nav-tabs nav-stacked" id="sidebar">
           <h5>HELP</h5>
        <li><a href="#Customer_Service">Customer Service</a></li>
  	    <li><a href="#Shipping&delivery">Shipping & Delivery</a></li>
  	    <li><a href="#ReturnPolicy">Return Policy / Exchanges</a></li>
  	    <li><a href="#stockist">Stockist / Brand Inquiries</a></li>
  	    <li><a href="#webissues">Web Issues</a></li>
  	    <li><a href="#faq">FAQ</a></li>
  	  </ul>  
    </div>

    <div class="col-md-6 col-xs-12" id="mainCol">

    	<h5 id="Customer_Service">CUSTOMER SERVICE</h5>
    	<p> 

    	<div class="col-md-6 col-xs-12">
    		<ul class="customer-service">
    	
    		<li>Call: +354-5711407</li>
			<li>Email: hlin@hlinreykdal.com</li>
			
			</ul>
		</div>

		<div class="col-md-6 col-xs-12">
    		<ul class="customer-service">

			<li>Monday—Friday</li>
			<li>11:00—18:00 GMT</li>
			<li>Saturday</li>
			<li>11:00 - 18:00 GMT</li>
			<li>Sunday</li>
			<li>Closed</li>
		</ul>	
		</div>
</p>

				<br>

		<h5 id="Shipping&delivery">SHIPPING & DELIVERY</h5>	
			<p> Standard shipping hours are Monday – Friday, 11:00 – 17:00 GMT.
				Please allow up to 3 days for your order to ship as some of our items are made to order.
				You will receive an e-mail when your items are shipped.
				Once your order has shipped from Hlin Reykdal Concept store, status is available from the carrier. We are happy to help but we only have as much information as provided by carrier tracking.
				Hlin Reykdal Concept store will not be responsible for any items damaged or lost during transit. Any claims should be filed with the respective carrier.
			</p>	

				<br>

		<h5 id="ReturnPolicy">RETURN POLICY / EXCHANGES</h5>
			<p>Shipping and handling fees are non-refundable.
			   Merchandise must be returned or exchanged within 30 days of delivery confirmation date.
               Returned merchandise must be in like new condition.
               All returns / exchanges should be insured to avoid damage or loss during transit.
               Your return will be processed as soon as it is received. Please allow 3 – 10 days for this to reflect in your account.
               To exchange an item please contact hlin@hlinreykdal.com for assistance.
               All returns and exchanges should be sent to: 
               Hlin Reykdal Concept Store
               Fiskislóð 75
               101, Reykjavík
               Iceland
             </p>

             <br>

        <h5 id="stockist">STOCKIST / BRAND INQUIRIES</h5>
        	<p>Please contact hlin@hlinreykdal.com for all stockist requests and other related information.
				To become a Hlin Reykdal stockist, please send a link to your website, images of your space, other brands carried and items of interest. We will review your request and respond promptly.
				For all press related inquiries and other brand specific requests including special projects please contact hlin@hlinreykdal.com.
				We are unable to make custom pieces for individuals most of the time, however, may be able to accommodate special projects with larger quantities.
			</p>
			
			<br>

		<h5 id="webissues">WEB ISSUES</h5>	
			<p>If you are having trouble checking out or experiencing other website related issues, please call customer service at +354 - 5711407 or e-mail hlin@hlinreykdal.com.</p>

			<br>

		<h5 id="faq">FAQ</h5>	

			<h5>When will my order ship?</h5>
				<p>Orders in stock are usually shipped within 1–3 business days. For small goods, please allow up to 3–5 days for your order to go out.
				</p>
				<br>
			<h5>What shipping methods do you use?</h5>
				<p>We primarily use Icelandic Postal services , however we can make exceptions for stockists and bulk orders.</p>

				<br>
			<h5>Where do you ship?</h5>
				<p>Almost everywhere. Email hlin@hlinreykdal.com if you’re having trouble placing an order.</p>
				<br>


			<h5>What if my tracking number doesn’t work?</h5>
				<p>Confirmation is sent when your shipping label is printed, please allow up to 12 hours for this information to update. Please see Shipping & Delivery section for more information.</p>


			<h5>How long does it take for a refund to go through?</h5>
				<p>We will process your return as soon as we receive it. Please allow 3–10 days for your bank account to update.</p>
				<br>

			<h5>Do you take custom orders?</h5>
				<p>We are unable to make custom pieces for individuals most of the time, however we can accommodate special projects with larger quantities. Email hlin@hlinreykdal.com for more information.</p>
				<br>

			<h5>Where can I purchase your products?</h5>
				<p>All of our stockists are listed here</p>
				<br>

			<h5>What if I’m experiencing issues with your website?</h5>
				<p>If you are having trouble checking out or other website issues please call us at: +354 - 5711407 or email us at hlin@hlinreykdal.com. We will respond to you as quickly as possible. Make sure your browser is up to date before contacting Hlin Reykdal Concept Store.</p>
				<br>
			<h5>Do you accept intern/job applications?</h5>
				<p>We hire based only on personal recomendations. Unfortunately we are unable to review any submissions.</p>
				 <br>
			<h5>Press inquiries?</h5>
				<p>For all press inquiries, please contact hlin@hlinreykdal.com.</p>
			
    </div>
 
</div>


<script type="text/javascript">
	var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;



$('#sidebar').affix({
      offset: {
        top: 10,
        bottom: navHeight
      }
});


$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});
</script>