<div class="container-fluid info-pages">
  
    <div class="col-md-3 col-xs-12" id="leftCol">
   
          <ul class="help nav nav-tabs nav-stacked" id="sidebar">
           <h5>FAQ</h5>
        <li><a href="#In_general">In General</a></li>
  	    <li><a href="#Personal_info">Personal Information</a></li>
  	    <li><a href="#When_collect">When Do We Collect Information?</a></li>
  	    <li><a href="#How_use_info">How do we use your information?</a></li>
  	    <li><a href="#Protect_info">How do we protect your information?</a></li>
  	    <li><a href="#Linking_to_this_Website">Linking to this Website</a></li>
  	    <li><a href="#Cookies">Do we use 'cookies'?</a></li>
  	    <li><a href="#Third-party">Third-party disclosure</a></li>
  	    <li><a href="#Third-party-links">Third-party links</a></li>
  	    <li><a href="#Fair_info_practice">Fair Information Practices</a></li>
  	    <li><a href="#Can_Spam">CAN SPAM Act</a></li>
  	    <li><a href="#Contact">Contact us</a></li>
  	  </ul>  
    </div>

    <div class="col-md-6 col-xs-12" id="mainCol">

<p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p id="In_general">

<br>

<h5 id="Personal_info">
What personal information do we collect from the people that visit our website?</h5>

<p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information or other details to help you with your experience.</p>

<br>

<h5 id="When_collect">When do we collect information?</h5>

<p>We collect information from you when you place an order, subscribe to a newsletter, fill out a form or enter information on our site.</p>

<br>

<h5 id="How_use_info">How do we use your information?</h5>

<p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
      • To quickly process your transactions.
      • To send periodic emails regarding your order or other products and services.</p>

<br>

<h5 id="Protect_info">How do we protect your information?</h5>

<p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
We use regular Malware Scanning.
Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>

<p>We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>

<p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>

<br>

<h5 id="Cookies">Do we use 'cookies'?</h5>

<p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>

<p>We use cookies to:
      • Help remember and process the items in the shopping cart.
      • Keep track of advertisements.
      • Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</p>

<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>

<p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.It won't affect the user's experience that make your site experience more efficient and may not function properly.</p>

<br>

<h5 id="Third-party">Third-party disclosure</h5>

<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>

<br>

<h5 id="Third-party-links">Third-party links</h5>

<p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

<br>


<h5 id="Fair_info_practice">Fair Information Practices</h5>

<p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
We will notify you via email Within 1-3 business days</p>

<p>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>

<h5 id="Can_Spam">CAN SPAM Act</h5>

<p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
We collect your email address in order to:
      • Send information, respond to inquiries, and/or other requests or questions
      • Process orders and to send information and updates pertaining to orders.
      • Send you additional information related to your product and/or service
      • Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</p>

<p>To be in accordance with CANSPAM, we agree to the following:
      • Not use false or misleading subjects or email addresses.
      • Identify the message as an advertisement in some reasonable way.
      • Include the physical address of our business or site headquarters.
      • Monitor third-party email marketing services for compliance, if one is used.
      • Honor opt-out/unsubscribe requests quickly.
      • Allow users to unsubscribe by using the link at the bottom of each email.</p>

<p>If at any time you would like to unsubscribe from receiving future emails, you can follow the instructions at the bottom of each email
and we will promptly remove you from ALL correspondence.</p>


<h5 id="Contact">Contacting Us</h5>

<p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>

<ul class="help-contact">

<li>https://www.hlinreykdal.com</li>
<li>Fiskislóð 75</li>
<li>101 Reykjavík</li>
<li>Iceland</li>
<li>+354-571 1407</li>
<li>hlin@hlinreykdal.com</li>

</ul>

Last Edited on 2017-05-30


			
    </div>
 
</div>


<script type="text/javascript">
	var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;



$('#sidebar').affix({
      offset: {
        top: 10,
        bottom: navHeight
      }
});


$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});
</script>