 <header id="necklace_header" class="img-responsive">


  <img src="/assets/rand_headers/<%= @random_image%>", style='height:auto;width:100%;' >
	
	
</header>

<div class="container">
	<h3> Contact us </h3>
	
	<%= render 'form' %>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>