<% @cart.product_items.each do |item| %>
	<ul>
		<li>
		<%= item.quantity %>&times; <%= item.product.title %>
		<%= number_to_currency(item.total_price_usd, :precision => 0)%> | <%= number_to_currency(item.total_price_isl.to_i, :unit => "ISkr ", :precision => 0) %>
		</li>
	</ul>
	
<%end %>