/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

@import "font-awesome";
@import "toastr";

@import "footer";
@import "navbar";
@import "pages";



*{
    margin: 0;
    padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  background-color: #fff;
    text-decoration: none;

}


/***********************************************/

.social-share-button-facebook {
    position: relative;
        background: none;
        margin-right: 5px;

}

.social-share-button-facebook:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
    
     content: "\f09a";
     color: #555;

     font-size: 1.5em;

}


.social-share-button-twitter {
    position: relative;
        background: none;
        margin-right: 10px;

}

.social-share-button-twitter:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
    
     content: "\f099";
     color: #555;

     font-size: 1.5em;

}


.social-share-button-google_plus {
    position: relative;
        background: none;
        margin-right: 15px;

}

.social-share-button-google_plus:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
     content: "\f0d5";
     color: #555;

     font-size: 1.5em;

}


.social-share-button-pinterest {
    position: relative;
        background: none;

}

.social-share-button-pinterest:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
     content: "\f0d2";
     color: #555;

     font-size: 1.5em;

}