/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

@import "font-awesome";
@import "toastr";

@import "footer";
@import "navbar";
@import "pages";
@import "products";
@import "order";



*{
    margin: 0;
    padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  background-color: #fff;
    text-decoration: none;

}


 #map {
        height: 400px;
        width: 100%;
       }

/* SEARCH BAR */


.searchbar{
    margin-right: 100px;
    margin-top: -5px;
}
input.transparent-input { 
    border:none !important;
    
}

.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
}

 input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
    }

.search-button{
    font-size: 1.5em;
    color: #666;
    margin-top: 10px;
}

/***********************************************/

.social-share-button-facebook {
    position: relative;
        background: none;
        margin-right: 5px;


}

.social-share-button-facebook:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
    
     content: "\f09a";
     color: #555;

     font-size: 1.5em;

}

.social-share-button-facebook:after {
    position: relative;
        background: none;
        margin-right: 5px;
        

}


.social-share-button-twitter {
    position: relative;
        background: none;
        margin-right: 10px;

}

.social-share-button-twitter:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
    
     content: "\f099";
     color: #555;

     font-size: 1.5em;

}


.social-share-button-google_plus {
    position: relative;
        background: none;
        margin-right: 15px;

}

.social-share-button-google_plus:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
     content: "\f0d5";
     color: #555;

     font-size: 1.5em;

}


.social-share-button-pinterest {
    position: relative;
        background: none;

}

.social-share-button-pinterest:before {
    display: inline-block;
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
     content: "\f0d2";
     color: #555;

     font-size: 1.5em;

}


/* ###### BRAINTREE ##### */


iframe#braintree-dropin-frame{
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ######SITE-NOTIFICATIONS##### */


#site-notification {
    position: fixed;
    bottom: 0px;
    padding: 6px 12px;
    padding-right: 28px;
    font-size: 12px;
    z-index: 10;
    left: 0;
    width: 100%;
    text-align: center;
    color: #292929;
    background-color: #eeeeee;
    background-color: rgba(240, 240, 240, 0.96);
    cursor: pointer; cursor: hand; 
}

#site-notification button.close {
    content: '';
    display: block;
    text-indent: -99999px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
    background-image: url('icons/close-dark.svg');
    position: absolute;
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    opacity: .25;
    cursor: pointer;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    
}

.postlist-text{
text-transform: uppercase;
    font-size: .9em;
    padding-left: 20px;

}