/* #### NAV BAR ######### */

.dropdown-menu>li>a{
	font-weight: 300;
font-size: .9em;
letter-spacing: .2em;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover 
{
font-weight: 300;
font-size: .9em;	
 color: #999;
 text-decoration: none;
 background-image: transparent;
background-color: transparent;
} 

header {
    background: url('../image/front2.jpg') ;
    width: 100%;
    height: auto ; /* ? */
    background-repeat:no-repeat;
    background-position: top center;
    background-size: contain;  
    background-position: center top; 
    height: 720px 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
     background-color: transparent;
    background-image: transparent;
}


.dropdown-toggle{
    color:#555;
}

.navbar-default .navbar-nav>li>a {
    color: none;
}




.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default :hover {
    background-color: rgba(255, 255, 255, .7);
    border-color: rgba(231, 231, 231, .7);
    
}
.navbar:hover {
    background: rgba(255, 255, 255, .7) none repeat scroll 0 0 !important;
}
.navbar-default *:hover{
  background:transparent !important;
}
.dropdown-menu > li > a:hover {
    background-color: transparent;
    background-image: transparent;
}

.navbar-nav > li > .dropdown-menu { 
	background-color: transparent; 
	background-image: transparent;
}

.dropdown-menu {
position: static;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 120px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
-webkit-box-shadow: none; 
box-shadow: none !important;
background-color: transparent;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 0px solid #ccc;
border: 0px solid rgba(0,0,0,.15);
border-radius: 0px;

}

//Add the below transitions to allow a smooth color change similar to lyft
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
  
    background: rgba(255, 255, 255, .7)
}


.dropdown.full-width {
width : 120px;
background-image: transparent;
background-color: transparent;
}

.full-width.dropdown > .dropdown-menu > li > a {
white-space: normal; 
background-image: transparent;
background-color: transparent;
}



.navbar-nav {
    float: none; 
    margin: 0;
}

/* Navbar hamburger animation */


.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}

/***********************************************/
