// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* INDEX PAGE */
  
.index_header {
  
    
    background-repeat:no-repeat;
    
    background-size: cover;
    background-position: center top; 

    margin-bottom: 20px;

  


}

.full_front_img{
    margin: 20px 0px;
     background: url('front_img_1200_500.jpg') ;
    width: 100vw;
   
    background-repeat:no-repeat;
    
    background-size: cover;  
    background-position: center top; 
    
   
}   

/* IMAGE CAPTION THUMBMAILS */

.center-block{

    margin-bottom: 30px !important;
}
   
 .caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background:transparent;
        background-color: rgba(255, 255, 255, .7);
        }

.category-name{

    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    
    margin-left: 5%;
    margin-top: 3%;


}

.thumbnails {

       margin: auto 0;
        border: 0 none;
        box-shadow: none;
        width: auto;
        height: 100%



    
    }

    .caption h4 {
        color: #555;
        margin-left: 40px;
        margin-bottom: 40px;
        -webkit-font-smoothing: antialiased;
    }

.thumbnails img {
    max-height: 100%;
    max-width: 100%;
   
}


/* ABOUT PAGE */

#about_head {
    background: url('about/about12.png') ;
    width: 110%;
    height: auto ; /* ? */
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;  
    background-position: center top; 
    height: 780px; 
}

#down_head_about {
    margin-top: 20px;
    margin-bottom: 40px;
    background: url('about/about7.png') ;
      height: auto ; /* ? */
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;  
    background-position: center top; 
    height: 500px;
    width: 120%;

}

#bottom-head-about{
    margin-top: 20px;
    margin-bottom: 40px;
    background: url('about/about3.png') ;
      height: auto ; /* ? */
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;  
    background-position: center top; 
    height: 350px;
    width: 120%;

}


/*####### CART ####*/

.cart-container{

    margin-bottom: 20vw;

}

.cart-links{
    color: #555;
}

/*###########Location #########*/

.location-wrapp{
    margin-bottom: 20vw;
}





