.product_top{
    margin-top: 15vh;
    padding: 20px 0 20px 0;
 
    margin-bottom: 40px;
    
}

.product-teaser{
	border-top: 1px #eaeaea solid;
}

.teaser-text{
	color: #777	;
	font-family: 'Open Sans', sans-serif;
}


.product-thumbs-product-view{
	margin-top: 20px;	
}

.label-product{
	letter-spacing: 0.2em;
	color: #777	;
	font-size: 0.8em;
	margin-bottom: 20px;
}

.description{
	color: #555;
  	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	
	letter-spacing: 0.3em;
	font-size: 0.7em;

}

.product-description{
	color: #555;
  	font-family: 'Open Sans', sans-serif;
	margin-bottom: 100px;
	margin-top: 1vh;
}

.product-price{
	letter-spacing: 0.2em;
	color: #777	;
	font-size: 0.8em;
	
}

.add-cart-wrapper{
	padding-top: 100px;
}

.add-to-cart{
	border: #555 2px solid;
	color: #555;
	padding-right: 25%;
	padding-left: 25%;	
	text-transform: uppercase;	
	
}

a {
    text-transform: none;
    color: #555;
    
}


