.product_top{
    margin-top: 200px;
    padding: 20px 0 20px 0;
 
    margin-bottom: 40px;
    
}

.label-product{
	letter-spacing: 0.2em;
	color: #777	;
	font-size: 0.8em;
	margin-bottom: 20px;
}

.description{
	margin-top: 20px;
	color: #777	;
	letter-spacing: 0.3em;
	font-size: 0.7em;

}

.product-description{
	
	text-transform: capitalize;
	margin-bottom: 100px;
}

.product-price{
	letter-spacing: 0.2em;
	color: #777	;
	font-size: 0.8em;
	
}

.add-cart-wrapper{
	padding-top: 100px;
}

.add-to-cart{
	border: #555 2px solid;
	color: #555;
	padding-right: 25%;
	padding-left: 25%;	
	text-transform: uppercase;	
	
}


